.logo_img {
    width: 100%;
}

.current_weather_title {
    font-size: 25px;
    font-weight: 100;
    letter-spacing: 8px;
}

.current_weather_subtitle {
    font-size: 40px;
    font-weight: 100;
}

.legend {
    padding: 2% 5%;
}

.main_sections {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5% 4%;
}

#map {
    width: 100%;
}